# Dependencies
node_modules
.pnp
.pnp.js

# Production build output
dist
dist-ssr
*.local

# Visual Studio / Editor caches
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Logs & System files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store